@charset "UTF-8";
/* Header style */
.header {
  background-color: black;
  padding-top: 1%;
  padding-block-end: 1%;
}

#h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-size: 3rem;
  color: white;
  display: inline-block;
  margin-left: 25%;
  margin-right: auto;
  width: 50%;
}

#navbarSupportedContent {
  align-items: center;
  gap: 1%;
  justify-content: center;
}

.headerImg {
  width: 15vh;
  height: 10vh;
}

/** Header style */
/* H format */
.h2Section {
  background-color: rgb(83, 79, 79);
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
}

.h2Section h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}

#h2Contact {
  background-color: rgb(26, 25, 25);
  display: inline-block;
  color: white;
}

#h3 {
  color: white;
}
/** H format */

/* Format principal Links */
.btn-shoppingCart{
  display: flex;
  padding: 1%;
  flex-direction: column;
  flex-wrap: wrap;
}

.buttonSections {
  background-color: rgb(83, 79, 79);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  flex-direction: column;
  flex-wrap: wrap;
  position: sticky;
  margin: 0.5px;
}

.buttonSections nav {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
}
.buttonSections nav a {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
}
.buttonSections .h2 {
  color: white;
  display: inline-block;
}
.buttonSections .input {
  display: inline-block;
  height: 4vh;
}

.generalSearch {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-item {
  display: flex;
  flex-direction: row;
  gap: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 4vh;
  color: white;
  padding: 1%;
}

/*  */
/* Format principal Links */
.body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

/* Products format */
.productContainer {
  background-color: #f8f9fa;
  padding: 1rem;
}
.productContainer nav .imgNav {
  height: 70vh;
  width: 33%;
  object-fit: cover;
}

#carouselExample {
  background-color: black;
  padding: 1%;
}

.carousel .carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.carousel .carousel-item .product {
  height: 70vh;
}

.shoppingCart {
  display: flex;
  background-color: black;
  margin: 2.5px;
  padding: 10%;
}
.shoppingP{
  display: flex;
  background-color: black;
  font-size: 5vh;
  color : white;
}
.shoppingImg{
  display: flex;
  background-color: black;
  height: 20vh;
  width: 20vh;
}

.productForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 0.5px;
  padding: 2%;
}
.productForm section img {
  height: 100vh;
  width: 50vh;
  object-fit: cover;
}
.productForm section p {
  font-size: 2vh;
}
.productForm section .product {
  height: 10vh;
}
.productForm section label {
  font-size: 10vh;
}
.productForm section .input {
  height: 4vh;
}
.productForm section select {
  font-size: 2vh;
}

/** Products format */
/* Class for center all components */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/** Class for center all components */
/* Main format */
.mainImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 44, 58);
}

/** Main format */
/* List format */
.ul {
  font-size: 2rem;
  color: black;
}

.li {
  color: white;
}

/** List format */
.mainContact {
  background-color: rgb(26, 25, 25);
  width: 100%;
  height: 100%;
}

/* Footer format*/
.footerIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 15vh;
  background-color: black;
  padding: 0;
  margin: 0;
  text-align: center;
}
.footerIndex .img {
  width: 15vh;
  height: 10vh;
}
.footerIndex .p {
  font-size: 1.5rem;
  color: rgb(222, 10, 173);
  align-items: center;
  margin-left: 40%;
}

.pFooter {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  color: rgb(222, 10, 173);
  background-color: black;
}

/** Footer format*/

/* Estilos para pantallas de menos de 768px (dispositivos móviles) */
@media (max-width: 768px) {
  .header {
    background-color: rgb(55, 51, 51);
  }
  .productContainer {
    background-color: rgb(55, 51, 51);
  }
  .footerIndex {
    background-color: rgb(55, 51, 51);
  }
}
/* Estilos para pantallas entre 768px y 991.98px (tabletas) */
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    background-color: rgb(30, 27, 27);
  }
  .productContainer {
    background-color: rgb(30, 27, 27);
  }
  .footerIndex {
    background-color: rgb(30, 27, 27);
  }
}
/* Estilos para pantallas mayores de 992px (escritorios) */
@media (min-width: 1440px) {
  .header {
    background-color: rgb(0, 0, 0);
  }
  .productContainer {
    background-color: rgb(0, 0, 0);
  }
  .footerIndex {
    background-color: rgb(0, 0, 0);
  }
}

/*# sourceMappingURL=styles.css.map */
