@import './utilities/media_queries';
@import './utilities/mixins';
@import './components/header';
@import './components/footer';

/* Header style */
.header {
    background-color: black;
    padding-top: 1%;
    padding-block-end: 1%;
}

#h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 3rem;
    color: white;
    display: inline-block;
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
}

#navbarSupportedContent{
    align-items: center;
    gap: 1%;
    justify-content: center;  
}

.headerImg {
    width: 15vh;
    height: 10vh;
}

/** Header style */

/* H format */
.h2Section{
    background-color: rgb(83, 79, 79);
    flex-direction: column;
    justify-content: center;  
    border: 1px solid white;
}

.h2Section h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    @include center (center, center, center) ;
    font-size: 1.5rem;
    color: white;
}

#h2Contact {
    background-color: rgb(26, 25, 25);
    display: inline-block;
    color: white;
}

#h3 {
    color: white;
}
/** H format */

/* Format principal Links */
.buttonSections {
    background-color: rgb(83, 79, 79);
    @include standardFlex(flex, center, center);
    padding: 1%;
    flex-direction: column;
    flex-wrap: wrap;
    position:sticky;
    margin: 0.5px;
}

.buttonSections {
    nav {
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2rem;
    
        a {
            color: black;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 2rem;
        }
    }
    .h2{
        color: white;
        display: inline-block;
    }
    .input{
        display: inline-block;
        height: 4vh;
    }
}

.generalSearch{
    @include center (center, center, center) ;
    display: flex;
}

.nav-item{
    display: flex;
    flex-direction:row;
    gap: 10%;
    @include center (center, center, center) ;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 4vh;
    color: white;
    padding: 1%;
}

/*  */

/* Format principal Links */

.body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

/* Products format */
.productContainer{
    background-color: #f8f9fa;
    padding: 1rem;
    nav {
        .imgNav{
            height: 70vh;
            width: 33%;
            object-fit: cover;
        }
    }
}

#carouselExample{
    background-color: black;
    padding: 1%;
}
.carousel {
    .carousel-item{
        @include standardFlex (flex, center, center) ;
        flex-direction:row;
        .product{
            height: 70vh;
        }
    }    
}

.productForm{
    @include standardFlex(flex, center, center);
    background-color: black;
    margin: 0.5px;
    padding: 2%;    
    section{
        img{
            height: 100vh;
            width: 50vh;
            object-fit: cover;
        }
        p{
            font-size: 2vh;
        }
        .product{
            height: 10vh;
        }
        label{
            font-size: 10vh;
        }
        .input{
            height: 4vh;
        }
        select{
            font-size: 2vh;
        }
    }
}
/** Products format */

/* Class for center all components */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/** Class for center all components */

/* Main format */
.mainImg {
    @include standardFlex(flex, center, center);
    background-color: rgb(38, 44, 58);
}

/** Main format */

/* List format */
.ul {
    font-size: 2rem;
    color: black;
}

.li {
    color: white;
}

/** List format */

.mainContact {
    background-color: rgb(26, 25, 25);
    width: 100%;
    height: 100%;
}

/* Footer format*/
.footerIndex {
    @include standardFlex(flex, center, center);
    flex-direction:row;
    width: 100%;
    height: 15vh;
    background-color: black;
    padding: 0;
    margin: 0;
    text-align: center;
    .img{
        width: 15vh;
        height: 10vh;
    }
    .p {
        font-size: 1.5rem;
        color: rgb(222, 10, 173);
        align-items: center;
        margin-left: 40%;
    }
    
}

.pFooter {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    color: rgb(222, 10, 173);
    background-color: black;
}

/** Footer format*/